<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Day</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

  <h1><%= kindOfDay %></h1>
  <ul>
    <li>Buy</li>
    <li>Sell</li>
    <li>Auction</li>
  </ul>


  </body>
</html>
