<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Day</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">
        <% for(let i=0; i<listItem.length;i++){ %>
          <div class="item">
            <input type="checkbox">
            <p><%= listItem[i] %></p>
          </div>
        <% } %>



  <!-- <ul>
    <li>Buy</li>
    <li>Sell</li>
    <li>Auction</li>
  </ul> -->
  <form class="item" action="/" method="post">
    <input type="text" name="inputval" placeholder="Enter the item" required>
    <button type="submit" name="button">+</button>

  </form>
  </div>

  </body>

  <footer>Shubham011190 &copy; 2020</footer>
</html>
