*{
    margin: 0;
    padding: 0;
}

header{
    padding: 10px;
}

header p{
    float: right;
}
.mainBar{
    margin-top: 20px;
    background-color: antiquewhite;
    position: relative;
    display: block;
    box-shadow: 5px 5px 8px #888888;
    border-radius:2px;
}

.mainBar>li{
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    width: 150px;
    text-align: center;
}
.mainBar a{
    color: black;
    text-decoration: none;
}

.subMenu{
    position: absolute;
    background-color: antiquewhite;
    top: 42px;
    display: none;
}

.subMenu li{
    display: block;
    position: relative;
    width: 150px;
    padding: 10px 0px;
    font-size: 20px;
    align-items: center;
}

li:hover{
    background-color: bisque;
}

#services_ul:hover .subMenu{
    display: block;
}

#contactMe{
    position: absolute;
    right: 10px;
}